.grid-container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }

.row.align-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }

.row.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.row.align-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.row.justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.row.justify-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.row.justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.row.justify-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.col {
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.col.col-1 {
  max-width: 8.333333%;
  -webkit-flex-basis: 8.33%;
  -ms-flex-preferred-size: 8.33%;
  flex-basis: 8.33%; }

.col.col-2 {
  max-width: 16.666667%;
  -webkit-flex-basis: 16.67%;
  -ms-flex-preferred-size: 16.67%;
  flex-basis: 16.67%; }

.col.col-3 {
  max-width: 25%;
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%; }

.col.col-4 {
  max-width: 33.333333%;
  -webkit-flex-basis: 33.33%;
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%; }

.col.col-5 {
  max-width: 41.666667%;
  -webkit-flex-basis: 41.67%;
  -ms-flex-preferred-size: 41.67%;
  flex-basis: 41.67%; }

.col.col-6 {
  max-width: 50%;
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%; }

.col.col-7 {
  max-width: 58.333333%;
  -webkit-flex-basis: 58.33%;
  -ms-flex-preferred-size: 58.33%;
  flex-basis: 58.33%; }

.col.col-8 {
  max-width: 66.666667%;
  -webkit-flex-basis: 66.67%;
  -ms-flex-preferred-size: 66.67%;
  flex-basis: 66.67%; }

.col.col-9 {
  max-width: 75%;
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%; }

.col.col-10 {
  max-width: 83.333333%;
  -webkit-flex-basis: 83.33%;
  -ms-flex-preferred-size: 83.33%;
  flex-basis: 83.33%; }

.col.col-11 {
  max-width: 91.666667%;
  -webkit-flex-basis: 91.67%;
  -ms-flex-preferred-size: 91.67%;
  flex-basis: 91.67%; }

.col.col-12 {
  max-width: 100%;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }

.col.no-gutters {
  padding-right: 0px;
  padding-left: 0px; }

.col.self-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.col.self-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

.col.self-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.col.order-last {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1; }

.col.order-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1; }

@media only screen and (max-width: 767px) {
  .row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .col {
    max-width: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }

  .col.col-xs-6 {
    max-width: 50%;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }

  .col.col-xs-12 {
    max-width: 100%;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }

  .hidden-xs {
    display: none; } }
.header-logo {
  width: 100%;
  max-width: 175px; }

@media only screen and (max-width: 767px) {
  .header-logo-cta {
    display: block;
    text-align: center; } }
.nav-list {
  display: flex;
  justify-content: flex-end; }
  .nav-list .nav-list-item {
    margin: 0 10px;
    padding: 10px; }
  .nav-list .nav-list-item:last-of-type {
    margin-right: 0; }
  .nav-list .dropdown {
    position: relative;
    display: inline-block;
    z-index: 3; }
  .nav-list .dropdown-content {
    position: absolute;
    display: none;
    min-width: 150px;
    margin-top: 3px;
    margin-left: -10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25); }
  .nav-list .dropdown:hover .dropdown-content {
    display: block; }
  .nav-list .dropdown-link {
    display: block;
    padding: 10px;
    background-color: #ffffff;
    color: #83a603;
    text-decoration: none; }
  .nav-list .dropdown-link:hover {
    background: #83a603;
    color: #ffffff;
    text-decoration: none; }
  .nav-list .dropdown-link:first-of-type {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .nav-list .dropdown-link:last-of-type {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }

@media only screen and (max-width: 767px) {
  .nav-list {
    justify-content: center; }
    .nav-list .nav-list-item:last-of-type {
      margin-right: 10px; }
    .nav-list .dropdown:hover .dropdown-content {
      display: none; } }
.hero {
  position: relative;
  width: 100%;
  border-top: 1px solid #008798;
  border-bottom: 1px solid #008798;
  background: url(https://www.caredash.com/media/caredash/site/doctor-on-ipad-background-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.hero-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.75);
  z-index: 1; }

@media only screen and (max-width: 767px) {
  .hero {
    background-image: none; } }
.card-icon,
.card-headline {
  text-align: center;
  color: #008798; }

.card-body {
  margin: 0 0 10px; }

.card-icon {
  width: 100%; }

.card-body,
.card-cta {
  font-size: 14px; }

@media only screen and (max-width: 767px) {
  .card {
    margin-bottom: 50px; }

  .card:last-of-type {
    margin-bottom: 0; }

  .card-cta {
    text-align: center; } }
.form-container {
  z-index: 2; }

.form-fieldset {
  margin: 0;
  border: none;
  padding: 0;
  width: 100%; }

.form-label,
.form-input {
  width: 100%;
  outline: none;
  font-size: 16px; }

.form-label {
  margin: 10px 0;
  padding: 0;
  font-size: 14px; }

.form-label:first-of-type {
  margin-top: 0; }

.form-input {
  border: 1px solid #455A64;
  border-radius: 3px;
  padding: 5px;
  background: transparent; }

.form-input:focus {
  border: 1px solid #83a603;
  outline: none; }

.form-input-container {
  margin: 0 0 10px; }

.form-input-container:last-of-type {
  margin-bottom: 0; }

.button.submit {
  display: block;
  width: auto;
  margin: 30px auto 15px; }

.log-in {
  text-align: center; }

.footer {
  background: #ECEFF1; }
  .footer .footer-list-item {
    margin: 0 0 10px;
    padding: 0;
    font-size: 12px; }
  .footer .footer-list-item:last-of-type {
    margin: 0;
    padding-right: 0; }

.social-icon {
  margin: 0 15px 0 0;
  color: #008798; }

.social-icon:last-of-type {
  margin: 0; }

.social-icon:hover {
  color: #0a5d67;
  cursor: pointer; }

.copyright {
  margin: 30px 0 0;
  font-size: 10px; }

@media only screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }

  .social-icons-container {
    margin: 30px 0 0; } }
*,
*:before,
*:after {
  box-sizing: border-box; }

*::selection {
  background: #CFD8DC; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #37474F; }

.header,
.form-container,
.main,
.footer {
  padding: 30px; }

.heading {
  margin: 0 0 20px;
  text-align: center; }

.sub-heading {
  margin: 0 0 10px; }

a {
  color: #83a603;
  text-decoration: none; }

a:hover {
  color: #688307;
  text-decoration: underline; }

a.button,
button.button {
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 1em;
  background-color: #83a603;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  cursor: pointer; }

a.button:hover,
button.button:hover {
  background-color: #688307;
  text-decoration: none; }

ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.material-icons.md-72 {
  font-size: 72px; }

@media only screen and (max-width: 767px) {
  .heading {
    margin: 0 0 15px; } }

/*# sourceMappingURL=global.css.map */
